<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mars Rover</title>
</head>
<body>
  <form action="/generate" method="post">
    <label for="plateau-x">Plateau Bounds (x)</label>
    <input id="plateau-x" name="plateau-x" type="text"/>
    <label for="plateau-y">Plateau Bounds (y)</label>
    <input id="plateau-y" name="plateau-y" type="text"/>
    <label for="rover-x">Rover Bounds (x)</label>
    <input id="rover-x" name="rover-x" type="text"/>
    <label for="rover-y">Rover position (y)</label>
    <input id="rover-y" name="rover-y" type="text"/>
    <label for="rover-direction">Rover Direction</label>
    <input id="rover-direction" name="rover-direction" type="text"/>
    <input type="submit" value="Generate Plateau and Rover">
  </form>
</body>
</html>